using Microsoft.AspNetCore.Mvc;

namespace Chakram1.Views
{
    public class CharacterNotFound : Controller
    {
        public IActionResult Index()
        {
            return View();
        }
    }
}

<h2>Character Not Found</h2>
<p>We're sorry, but the requested character details were not found.</p>
